<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomSplashScreenTheme"
        tools:targetApi="31">
        <activity
            android:name=".features.driver.menu.statistics.TripDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.statistics.TripsInDayActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.statistics.StatisticsDailyActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.personal_info.UpdatePersonalInfoDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.support.RequestSupportDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.support.FAQDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.personal_info.PersonalInfoDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.statistics.StatisticsDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.feedbacks.PassengerFeedbackDriver"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.setting.SettingDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.menu.support.SupportDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAP_KEY}" />

        <activity
            android:name=".signup_login.forgot_password.NewPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".signup_login.forgot_password.VerifyPhoneNumFPActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".signup_login.forgot_password.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".signup_login.permissions.PermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.driver.booking.HomeDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".features.cso.home.HomeCsoActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".signup_login.signup.SignupCsoActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".signup_login.signup.VerifyPhoneNumActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".signup_login.signup.SignupDriverActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".signup_login.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.XePartnerApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>